{% extends "base.html" %}
{% block content %}

<div class="bg-text d-flex-lg-12 px-4 py-3 text-center">
        <textarea class="form-control z-depth-1" id="editor">
        {{tweet_text}}
      </textarea>
      <br/>

      <div class="d-grid gap-1 d-lg-flex justify-content-sm-center">

        <button type="button"  class="btn btn-success btn-lg-6 btn-md-6 fw-bold" onclick="window.location.href='{{ url_for( 'accept' ) }}';">Y</button>
        <button type="button" class="btn btn-outline-danger btn-lg-6 btn-md-6" onclick="window.location.href='{{ url_for( 'deny'   ) }}';">N</button>
      </div>

  </div>
</div>

{% endblock %}
